{% extends 'base.html' %}
{% block body %}
    <!-- MAIN CONTENT -->
    <div class="main-content" id="devops_app">
        <div class="container-fluid">
            <div class="panel panel-headline">
                <div class="panel-heading">
                    <h3 class="panel-title" style="display: inline">工作台(我的任务)</h3>
                    <hr>
                </div>
                <div class="panel-body">

                </div>
            </div>
        </div>
    </div>
    <!-- END MAIN CONTENT -->
{% endblock %}
{% block script %}
    <script>
        let devops_app = new Vue({
            delimiters: ['[[', ']]'],
            el: '#devops_app',
            data: {projects: [], project: {}, project_name: ''},
            mounted: function () {
                this.searchProjects();
            },
            methods: {
                searchProjects() {
                    _this = this;
                    $.ajax({
                        url: "{% url 'projects/list' %}",
                        data: {
                            "project_name": _this.project_name
                        },
                        success: function (data) {
                            if (data.code === 200) {
                                _this.projects = data.records;
                            } else {
                                alert("什么都没有");
                            }
                        }
                    });
                },
                addProject() {
                    $.ajax({
                        url: "{% url "projects/add" %}",
                        data: this.project,
                        type: "post",
                        success: function (data) {
                            if (data.code === 200) {
                                $("#modal-form").modal("hide");
                                devops_app.searchProjects();
                            } else {
                                alert("添加失败");
                            }
                        }
                    });
                }
            }
        });
        $('#modal-form').on('hidden.bs.modal', function () {
            devops_app.project = {};
        });
    </script>

{% endblock %}