{% extends 'base.html' %}
{% block body %}
    <!-- MAIN CONTENT -->
    <div class="main-content" id="devops_app">
        <div class="container-fluid">
            <div class="panel panel-headline">
                <div class="panel-heading">
                    <h3 class="panel-title" style="display: inline">工作台</h3>
                    <hr>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="tabs-container">
                            <ul class="nav nav-tabs">
                                <li class=""><a data-toggle="tab" href="#tab-1" aria-expanded="false"> 第一个选项卡</a>
                                </li>
                                <li class="active"><a data-toggle="tab" href="#tab-2" aria-expanded="true">第二个选项卡</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div id="tab-1" class="tab-pane">
                                    <div class="panel-body">
                                        <strong>HTML5 文档类型</strong>
                                        <p>Bootstrap 使用到的某些 HTML 元素和 CSS 属性需要将页面设置为 HTML5
                                            文档类型。在你项目中的每个页面都要参照下面的格式进行设置。</p>
                                    </div>
                                </div>
                                <div id="tab-2" class="tab-pane active">
                                    <div class="panel-body">
                                        <strong>移动设备优先</strong>
                                        <p>在 Bootstrap 2 中，我们对框架中的某些关键部分增加了对移动设备友好的样式。而在 Bootstrap 3
                                            中，我们重写了整个框架，使其一开始就是对移动设备友好的。这次不是简单的增加一些可选的针对移动设备的样式，而是直接融合进了框架的内核中。也就是说，Bootstrap
                                            是移动设备优先的。针对移动设备的样式融合进了框架的每个角落，而不是增加一个额外的文件。</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END MAIN CONTENT -->
{% endblock %}
{% block script %}
    <script>
        let devops_app = new Vue({
            delimiters: ['[[', ']]'],
            el: '#devops_app',
            data: {projects: [], project: {}, project_name: ''},
            mounted: function () {
                this.searchProjects();
            },
            methods: {
                searchProjects() {
                    _this = this;
                    $.ajax({
                        url: "{% url 'projects/list' %}",
                        data: {
                            "project_name": _this.project_name
                        },
                        success: function (data) {
                            if (data.code === 200) {
                                _this.projects = data.records;
                            } else {
                                alert("什么都没有");
                            }
                        }
                    });
                },
                addProject() {
                    $.ajax({
                        url: "{% url "projects/add" %}",
                        data: this.project,
                        type: "post",
                        success: function (data) {
                            if (data.code === 200) {
                                $("#modal-form").modal("hide");
                                devops_app.searchProjects();
                            } else {
                                alert("添加失败");
                            }
                        }
                    });
                }
            }
        });
        $('#modal-form').on('hidden.bs.modal', function () {
            devops_app.project = {};
        });
    </script>

{% endblock %}