{% extends 'base.html' %}
{% block body %}
    <!-- MAIN CONTENT -->
    <div class="main-content" id="devops_app">
        <div class="container-fluid">
            <div class="panel panel-headline">
                <div class="panel-heading">
                    <h3 class="panel-title" style="display: inline">标签管理</h3>
                    <div class="col-md-2 pull-right">
                        <a data-toggle="modal" style="background-color: #00aaff;border-color: #00a0f0;height: 30px;"
                           class="btn btn-primary btn-block" href="#modal-form">创建新标签</a>
                    </div>
                    <hr>
                </div>
                <div class="panel-body">
                    <div class="row m-b-sm m-t-sm">
                        <div class="col-md-1">
                            <button type="button" id="loading-example-btn" class="btn btn-white btn-sm"><i
                                    class="fa fa-refresh"></i> 刷新
                            </button>
                        </div>
                        <div class="col-md-11">
                            <div class="input-group">
                                <input type="text" v-model="tag_name" placeholder="请输入项目名称"
                                       class="input-sm form-control"> <span
                                    class="input-group-btn">
                                                    <button type="button" @click="searchProjectTags()"
                                                            class="btn btn-sm btn-primary"> 搜索</button> </span>
                            </div>
                        </div>
                    </div>

                    <div class="project-list">
                        <table class="table table-hover">
                            <tbody>
                            <tr v-for="item in tags">
                                <td class="project-status">
                                    [[ item.color]]
                                </td>
                                <td class="project-title">
                                    <a href="{% url 'projects/task' %}">[[ item.name ]]</a>
                                    <br/>
                                    <small>创建于 [[ item.create_time]]</small>
                                </td>
                                <td class="project-actions">
                                    <a href="projects.html#" class="btn btn-white btn-sm">
                                        <i class="fa fa-pencil"></i> 编辑 </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div id="modal-form" class="modal fade" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <h3 class="m-t-none m-b">添加项目</h3>
                                <hr>
                                <div class="form-horizontal">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">名称：</label>
                                        <div class="col-sm-8">
                                            <input v-model="tag.name" placeholder="名称" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">颜色：</label>
                                        <div class="col-sm-8">
                                            <input v-model="tag.color" placeholder="颜色" class="form-control">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-sm-8 col-sm-offset-3">
                                            <button @click="addProjectTag()"
                                                    class="btn btn-sm btn-primary pull-right m-t-n-xs">
                                                <strong>添加</strong>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END MAIN CONTENT -->
{% endblock %}
{% block script %}
    <script>
        let devops_app = new Vue({
            delimiters: ['[[', ']]'],
            el: '#devops_app',
            data: {tags: [], tag: {}, tag_name: ''},
            mounted: function () {
                this.searchProjectTags();
            },
            methods: {
                searchProjectTags() {
                    _this = this;
                    $.ajax({
                        url: "{% url 'projects/tags_list' %}",
                        data: {
                            "tag_name": _this.tag_name
                        },
                        success: function (data) {
                            if (data.code === 200) {
                                _this.tags = data.records;
                            } else {
                                alert("什么都没有");
                            }
                        }
                    });
                },
                addProjectTag() {
                    $.ajax({
                        url: "{% url "projects/tags_add" %}",
                        data: this.tag,
                        type: "post",
                        success: function (data) {
                            if (data.code === 200) {
                                $("#modal-form").modal("hide");
                                devops_app.searchProjectTags();
                            } else {
                                alert("添加失败");
                            }
                        }
                    });
                }
            }
        });
        $('#modal-form').on('hidden.bs.modal', function () {
            devops_app.tag = {};
        });
    </script>

{% endblock %}