{% extends 'base.html' %}
{% block body %}
    <!-- MAIN CONTENT -->
    <div class="main-content" id="devops_app">
        <div class="container-fluid">
            <div class="panel panel-headline">
                <div class="panel-heading">
                    <h3 class="panel-title" style="display: inline">系统用户管理</h3>
                    <div class="col-md-2 pull-right">
                        <a data-toggle="modal" style="background-color: #00aaff;border-color: #00a0f0;height: 30px;"
                           class="btn btn-primary btn-block" href="#modal-form">添加用户</a>
                    </div>
                    <hr>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                            </div>
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>账号</th>
                                    <th>备注</th>
                                    <th>创建时间</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="(item,index) in sysusers">
                                    <td>[[ index + 1 ]]</td>
                                    <td>[[ item.name ]]</td>
                                    <td>[[ item.remark ]]</td>
                                    <td>[[ item.create_time ]]</td>
                                    <td><a @click="setting(item)">设置</a></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="modal-form" class="modal fade" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <h3 class="m-t-none m-b">添加用户</h3>
                                <hr>
                                <div class="form-horizontal">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">登录账号：</label>
                                        <div class="col-sm-8">
                                            <input v-model="sysuser.name" placeholder="登录账号" class="form-control">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">密码：</label>
                                        <div class="col-sm-8">
                                            <input v-model="sysuser.password" placeholder="密码" class="form-control">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">备注：</label>
                                        <div class="col-sm-8">
                                            <textarea v-model="sysuser.remark" class="form-control" rows="5"
                                                      id="computer-remark"
                                                      placeholder="备注"></textarea>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-sm-8 col-sm-offset-3">
                                            <button @click="addSysUser()"
                                                    class="btn btn-sm btn-primary pull-right m-t-n-xs">
                                                <strong>添加</strong>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="modal_modify" class="modal fade" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <h3 class="m-t-none m-b">添加用户</h3>
                                <hr>
                                <div class="form-horizontal">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">登录账号：</label>
                                        <div class="col-sm-8">
                                            <input v-model="sysuser.name" placeholder="登录账号" class="form-control">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">密码：</label>
                                        <div class="col-sm-8">
                                            <input v-model="sysuser.password" placeholder="密码" class="form-control">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">备注：</label>
                                        <div class="col-sm-8">
                                            <textarea v-model="sysuser.remark" class="form-control" rows="5"
                                                      id="computer-remark"
                                                      placeholder="备注"></textarea>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-sm-8 col-sm-offset-3">
                                            <button @click="modifySysUser()"
                                                    class="btn btn-sm btn-primary pull-right m-t-n-xs">
                                                <strong>修改</strong>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script>
        let devops_app = new Vue({
            delimiters: ['[[', ']]'],
            el: '#devops_app',
            data: {
                sysusers: [],
                sysuser: {}
            },
            mounted: function () {
                this.search();
            },
            methods: {
                search() {
                    _this = this;
                    $.ajax({
                        url: "{% url 'sys/user/list' %}",
                        data: {
                            "searchParam": _this.member_name
                        },
                        success: function (data) {
                            if (data.code === 200) {
                                _this.sysusers = data.records;
                            } else {
                                alert("什么都没有");
                            }
                        }
                    });
                },
                addSysUser() {
                    _this = this;
                    $.ajax({
                        url: "{% url 'sys/user/add' %}",
                        type: "POST",
                        data: _this.sysuser,
                        success: function (data) {
                            if (data.code === 200) {
                                $('#modal-form').modal("hide");
                                _this.search();
                            } else {
                                alert("什么都没有");
                            }
                        }
                    });
                },
                setting(item) {
                    this.sysuser = item;
                    $("#modal_modify").modal("show");
                },
                modifySysUser() {
                    _this = this;
                    $.ajax({
                        url: "{% url 'sys/user/modify' %}",
                        type: "POST",
                        data: _this.sysuser,
                        success: function (data) {
                            if (data.code === 200) {
                                $('#modal_modify').modal("hide");
                                _this.search();
                            } else {
                                alert("什么都没有");
                            }
                        }
                    });
                }
            }
        });
        $('#modal-form').on('hidden.bs.modal', function () {
            devops_app.sysuser = {};
        });
    </script>

{% endblock %}