{% extends 'base.html' %}
{% block body %}
    <div class="main-content" id="devops_app">
        <div class="container-fluid">
            <div class="panel panel-headline">
                <div class="panel-heading">
                    <h3 class="panel-title" style="display: inline">历史记录</h3>
                    <hr>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th class="table-check">#</th>
                                <th class="table-title">主机名</th>
                                <th class="table-type">IP</th>
                                <th class="table-type">脚本</th>
                                <th class="table-author am-hide-sm-only">创建者</th>
                                <th class="table-date am-hide-sm-only">执行日期</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="(item,index) in histories">
                                <td>[[ index ]]</td>
                                <td>[[ item.host_name ]]</td>
                                <td>[[ item.ip ]]</td>
                                <td>[[ item.shell ]]</td>
                                <td>[[ item.operation_name ]]</td>
                                <td>[[ item.create_time ]]</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script>
        let devops_app = new Vue({
            delimiters: ['[[', ']]'],
            el: '#devops_app',
            data: {
                histories: [],
            },
            mounted: function () {
                this.searchHistories();
            },
            methods: {
                searchHistories() {
                    _this = this;
                    $.ajax({
                        url: "{% url 'task/historys' %}",
                        success: function (data) {
                            if (data.code === 200) {
                                _this.histories = data.records;
                            } else {
                                alert("什么都没有");
                            }
                        }
                    });
                },
            }
        })
    </script>
    task/historys
{% endblock %}