{% extends 'base.html' %}
{% block body %}

    <!-- MAIN CONTENT -->
    <div class="main-content" id="devops_app">
        <div class="container-fluid">
            <div class="panel panel-headline">
                <div class="panel-heading">
                    <h3 class="panel-title" style="display: inline">历史记录</h3>
                    <hr>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th class="table-check">#</th>
                                <th class="table-title">IP</th>
                                <th class="table-type">脚本名称</th>
                                <th class="table-type">脚本备注</th>
                                <th class="table-author am-hide-sm-only">创建者</th>
                                <th class="table-author am-hide-sm-only">执行者</th>
                                <th class="table-date am-hide-sm-only">执行日期</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>1</td>
                                <td>192.128.23.45</td>
                                <td>删除根目录</td>
                                <td class="am-hide-sm-only">危险操作</td>
                                <td class="am-hide-sm-only">张瑀楠</td>
                                <td class="am-hide-sm-only">张瑀楠</td>
                                <td class="am-hide-sm-only">2017-02-12 02：45：77</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>192.128.23.45</td>
                                <td>删除根目录</td>
                                <td class="am-hide-sm-only">危险操作</td>
                                <td class="am-hide-sm-only">张瑀楠</td>
                                <td class="am-hide-sm-only">张瑀楠</td>
                                <td class="am-hide-sm-only">2017-02-12 02：45：77</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>192.128.23.45</td>
                                <td>删除根目录</td>
                                <td class="am-hide-sm-only">危险操作</td>
                                <td class="am-hide-sm-only">张瑀楠</td>
                                <td class="am-hide-sm-only">张瑀楠</td>
                                <td class="am-hide-sm-only">2017-02-12 02：45：77</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>192.128.23.45</td>
                                <td>删除根目录</td>
                                <td class="am-hide-sm-only">危险操作</td>
                                <td class="am-hide-sm-only">张瑀楠</td>
                                <td class="am-hide-sm-only">张瑀楠</td>
                                <td class="am-hide-sm-only">2017-02-12 02：45：77</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}