{% extends 'base.html' %}
{% block body %}
    <!-- MAIN CONTENT -->
    <div class="main-content">
        <div class="container-fluid">
            <h3 class="page-title">单次执行</h3>
            <div class="row">
                <div class="col-md-5">
                    <!-- INPUTS -->
                    <div class="panel">
                        <div class="panel-heading">
                            <h3 class="panel-title">Shell</h3>
                        </div>
                        <div class="panel-body">
                            <select id="computer" class="form-control">
                                {% for asset in assets %}
                                    <option value="{{ asset.id }}">{{ asset.network_ip }} {{ asset.hostname }}</option>
                                {% endfor %}
                            </select>
                            <br>
                            <div class="input-group">
                                <input class="form-control" type="text" id="shell">
                                <span class="input-group-btn"><button id="invoke_shell" class="btn btn-primary"
                                                                      type="button">Go!</button></span>
                            </div>
                            <br>
                            <div class="alert alert-info alert-dismissible" role="alert">
                                <i class="fa fa-info-circle"></i> shell 命令将被执行在指定的服务器上，不要随意操作
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="panel">
                        <div class="panel-heading">
                            <h3 class="panel-title">Result</h3>
                        </div>
                        <div class="panel-body">
                            <pre id="shell_result" class="form-control" style="min-height: 400px;"></pre>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script>
        $("#invoke_shell").click(function () {
            let assetId = $("#computer").val();
            let shell = $("#shell").val();
            if (shell.length == 0) {
                alert('请输入 shell');
                return;
            }

            $.ajax({
                url: "{% url 'task/invoke_shell' %}",
                data: {
                    "csrfmiddlewaretoken": $("input[name='csrfmiddlewaretoken']").val(),
                    "assetId": assetId,
                    "shell": shell
                },
                type: 'POST',
                success: function (data) {
                    if (data.code === 200) {
                        $("#shell_result").html(data.msg);
                    } else {
                    }
                },
                error: function () {
                }
            })
        })
    </script>
{% endblock %}